.TopBar {
  width: 100vw;
  background-color: #26779d;
  margin: auto;
  .Container {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .InfoElement {
    padding-right: 20px;
  }
}
